@model Category
@{
    ViewBag.PageTitle = "Category Management";
    ViewBag.CardTitle = "Create Category";
}

<form method="post">
    @Html.AntiForgeryToken()
    @* <div class="mb-3">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div> *@
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
    <a class="btn btn-danger" asp-action="Index" asp-controller="Category">Go To Index</a>
</form>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}