@model IEnumerable<Category>
@{
    ViewBag.PageTitle = "Category Management";
    ViewBag.CardTitle = "View Category";
}
<div>
    <a asp-Action="Create" asp-controller="Category" class="btn btn-primary"> Create</a>
</div>
<br />
<table class="table w-100">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Description</td>
        <td>Created Time</td>
        <td>Actions</td>
    </tr>
    
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.CreatedTime</td>
            <td>
                <a href="/Category/Edit/@item.Id" class="btn btn-success">Edit</a>
                <a href="/Category/Delete/@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
        
    
</table>
