@model IEnumerable<Category>
@{
    ViewBag.Title = "Index";
}

<h3>Categories</h3>

<table class=" w-100">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Description</td>
    </tr>
    
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                <a href="/Category/Edit/@item.Id" class="btn btn-success">Edit</a>
                <a href="/Category/Delete/@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
        
    
</table>
